a {
  text-decoration: none;
  color: inherit;
}

/* NAV CODE */
.desktop-navbar {
  height: 121px;
  padding: 0 48px;
}
.desktop-navbar li {
  margin: 0 32px;
  color: var(--primaryShade4);
  cursor: pointer;
}
.icons-list .bi-search:hover {
  color: var(--secondaryShade1);
}
/* class to hide nav items using JS */
.hide-nav-items {
  display: none !important;
  transition: all linear 1s;
}

/* SEARCH  */
.search-bar {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.83);
  top: 0%;
  position: fixed;
  display: none;
  z-index: 4;
}
.show-search-bar {
  display: block;
}
.search-bar .search {
  width: 50%;
  margin: 0 auto;
  padding-left: 1rem;
  background: white;
  border-radius: 15px;
  height: 60px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 25%;
  top: 4%;
}
.search-bar input {
  height: 100%;
  width: 90%;
  padding: 0 1rem;
  outline: none;
  border: none;
}
.close-search:hover {
  cursor: pointer;
  font-size: 1.5rem;
  transition: all linear 0.2s;
}
.hambugger {
  margin: 16px;
}
.mobile-nav-items {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.33);
  top: 0%;
  display: none;
  z-index: 2;
}
.show-nav {
  display: block;
}
.items {
  width: 240px;
  border-radius: 0px 8px 8px 0px;
  padding: 3px 16px;
  background: var(--whiteShade4);
  margin-top: 50px;
}
.items hr {
  border: 1px solid grey;
}

.mobile-nav-items li {
  margin: 26px 0;
}
.active-page {
  color: var(--secondaryShade1) !important;
}

/* FOOTER STYLES */
footer {
  background: #1f1f1f;
  color: white;
}
footer input {
  background: #1f1f1f;
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  color: white;
}
footer button {
  background: #3f51b5;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  border: none;
  color: white;
}
footer .second {
  padding-left: 10%;
}
footer .second li {
  margin: 8px 0;
  cursor: pointer;
}
footer .second .selected {
  border: 1.5px solid #3f51b5;
  display: inline;
  padding: 4px 8px;
}
footer .third {
  padding-left: 18%;
}
.third img {
  cursor: pointer;
}
footer .bottom p {
  border-bottom: 1px solid #fafafa;
  padding-bottom: 4px;
  cursor: pointer;
}

/* MOBILE DISPLAY */
@media screen and (max-width: 729px) {
  .search-bar .search {
    width: 90%;
    height: 50px;
    margin: 0;
    left: 5%;
    top: 2%;
    padding-right: 1rem;
  }
  .mobile-footer {
    padding: 0 15px;
    margin-top: 30px;
  }
  footer .links {
    margin: 30px 0;
    margin: 2px solid red solid orange;
  }
}
/* TABLET DISPLAY */
@media screen and (min-width: 730px) and (max-width: 991px) {
  .mobile-nav-items li {
    margin: 14px 0;
  }
  .search-bar .search {
    width: 90%;
    height: 50px;
    margin: 0;
    left: 5%;
    top: 9%;
  }
  footer input {
    width: 70%;
  }
  footer button {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  h4 {
    font-size: 30px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  nav .list-unstyled li {
    margin: 0 20px;
  }
  footer .third {
    padding-left: 9%;
  }
}
@media screen and (min-width: 1500px) and (max-width: 2560px) {
}
