*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--whiteShade4);
}

.saved{
    display: none;
}

.show{
    display:block;
}

.hide{
    display:none;
}

.active{
    color:var(--secondaryShade1) !important;
    font-weight: 600;
}

.addressInfo, .contactInfo, .items{
    background-color: var(--whiteShade2);
}

.saved .row{
    border:1px solid #b4b4b4
}

.saved button{
    font-size: clamp(12px,2vw,14px);
    cursor: pointer;
}

.contactInfo h6, .addressInfo h6{
    font-size: clamp(18px, 2vw, 24px);
}

.contactInfo .body-text,  .addressInfo .body-text .items .price{
    font-size: clamp(16px,2vw,18px);
    color:var(--primaryShade1)
}

.description{
    font-size: clamp(12px,2vw, 14px);
    color:var(--primaryShade1)
}
 
.button{
    top:80px;
    right:60px;
    border-radius: 5px;
    border: 1px solid var(--secondaryShade1);
    color: var(--secondaryShade1)
}

.fa-arrow-left{
    color: var(--secondaryShade1)
}

.addressBook,.accountInfo{
    color: var(--secondaryShade1)
}

.btn{
    background-color: var(--secondaryShade1);
    color:#fff
}

.btn:hover{
    color:#fff
}

.label, .side-nav li a, .side-nav li i{
    color:var(--primaryShade3)
}

.logout{
    color:var(--errorColor)!important
}

.saved button{
    background-color: var(--secondaryShade1);
    color:#fff;
    border:none
}
