* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--whiteShade4);
}

.savedpage, .accountpage, .saved_nav, .order_nav, .orderpage{
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.active {
  color: var(--secondaryShade1) !important;
  font-weight: 600;
}

.addressInfo,
.contactInfo {
  background-color: var(--whiteShade2);
}

.side-nav li {
  cursor: pointer;
}

.savedpage .row {
  border: 1px solid #b4b4b4;
  background-color: var(--whiteShade2);
}

.savedpage button {
  font-size: clamp(12px, 2vw, 14px);
  cursor: pointer;
}

.contactInfo h6,
.addressInfo h6 {
  font-size: clamp(18px, 2vw, 24px);
}

.contactInfo .body-text,
.addressInfo .body-text .price {
  font-size: clamp(16px, 2vw, 18px);
  color: var(--primaryShade1);
}

.description {
  font-size: clamp(12px, 2vw, 14px);
  color: var(--primaryShade1);
}

.button {
  border-radius: 5px;
  border: 1px solid var(--secondaryShade1);
  color: var(--secondaryShade1);
}

.fa-arrow-left {
  color: var(--secondaryShade1);
}

.addressBook,
.accountInfo {
  color: var(--secondaryShade1);
}

.btn {
  background-color: var(--secondaryShade1);
  color: #fff;
}

.btn:hover {
  color: #fff;
}

.delivery p, .total p, .add p, .mastercard{
  color:var(--primaryShade3)
}

.process span{
  border:1px solid var(--secondaryShade1);
  border-radius: 29px;
  cursor:pointer;
}

.lines::before{
  content:"";
  position:absolute;
  width:100%;
  height:2px;
  background-color: #8F8F8F;
  
}

.label,
.side-nav li a,
.side-nav li i {
  color: var(--primaryShade3);
}

.logout {
  color: var(--errorColor) !important;
}

.savedpage button {
  background-color: var(--secondaryShade1);
  color: #fff;
  border: none;
}

.trackorder{
  color:var(--secondaryShade1)
}

.profile-name {
  text-transform: capitalize;
}

@media(max-width:426px){
  .addressInfo .button{
      right:20px;
      top:130px;
  }

  .contactInfo .button{
      right:20px;
      top:100px
  }

  .items{
      flex-direction: column;
  }

  .process_btn{
    flex-direction: column;
  }

}

@media(max-width:769px){
  .items{
      flex-direction: column;
  }
}
